<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="articles.css">
</head>

<body>
	<%= render "header" %>
	
	<h1 style="text-align: center; clear: both;">Forum</h1>

<%= link_to "New article", new_article_path %>

<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th colspan="2"></th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
			<td><%= link_to 'Show', article_path(article) %></td>
			<td><%= link_to 'Edit', edit_article_path(article) %></td>
			<td><%= link_to 'Destroy', article_path(article),
					method: :delete,
					data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<br><br>

<div id="footer">
		<div id="ftmain">
			<p style="color: #ffffff">The Vocal Music Club’s purpose is to provide a haven for singers of all styles and languages. We strive for a fun, positive, and inclusive learning environment. <span><a href="https://www.stgeorges.bc.ca/page/explore/mission-vision-and-values"><strong>Read more...</strong></a></span></p>
		</div>
		<div id="ftfooter">
			<p style="color: #C9C0C0">© Copyright 2017 St. George's Vocal Music Club. All rights reserved.</p>
		</div>
	</div>
</body>
