<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="home.css">
</head>

<body>

	<div id='redbar'>
	</div>

	<div id="welcome-container">

		<div class="parallax parallax2">

			<div id="welcome-text">
				<p style="text-shadow: 5px 5px 10px black;">ABOUT US<br><h1 id="w-subheader" style="font-style: italic; text-shadow: 5px 5px 10px black;">Vocal Music Club</h1></p>
			</div>
		
		</div>

		<%= render "w-menu" %>

	</div>

	<%= render "header" %>

<!-- About Page Content-->

	<div class="content">

		<div class="parallax parallax8" style="overflow: hidden;">

				<div class="who">
					<p id="who-context">The Vocal Music Club (VMC) is a student-run club that focuses on finding new ways to present contemporary music. The club works on combining different styles of music and creating its own music. 
					<br><br>
					Founded in early 2017, the club started with two members. Over course of a few months, it expanded to well over 30 registered members. 
					<br><br>
					The club performs at many events. Some include Contemporary Music Night at Saints, Canadian Youth Leadership Association (CYLA) 5th Annual Concert, and Crofton Manor Senior Home Visit. 
					<br><br>
					New members are always welcomed to join!</p>
				</div>

				<div class="who">
					<h1 id="who-title">Who are we?</h1>
				</div>

		</div>

		<div class="names" style="clear: both;">
		
			<div id='redbar'>
			</div>

			<div class="parallax parallax2">	

				<div id="welcome-text">
					<p style="text-shadow: 5px 5px 10px black;">Current Members<br><h1 id="w-subheader" style="font-style: italic; text-shadow: 5px 5px 10px black;">The Team</h1></p>
				</div>

			</div>

			<div id='redbar'>
			</div>
			
			<div> 
				<div id="founders">

					<div>
						<%= image_tag "thomasyuan.png", :style => "display: block; margin: auto;" %>
						<h2 style="font-family: Palatino; text-align: center;">Thomas Yuan</h2>
						<p id="founders">Currently a grade 10 at St. George’s School, Thomas is one of the founding members of the club. He is the president of the club and is the lead organzier of many of the evetns. Thomas plays table tennis and studies for AP exams in his spare time.</p>
					</div>
					
					<div>
						<%= image_tag "vincentliu.png", :style => "display: block; margin: auto;" %>
						<h2 style="font-family: Palatino; text-align: center;">Vincent Liu</h2>
						<p id="founders">Currently a grade 12 at St. George’s School, Vincent is one of the founding members of the club. He takes photos of the performances and maintains the website. Vincent plays table tennis and read books in his spare time.</p>
					</div>

				</div>

				<div style="margin: 0% 10%;">

					<div class="members" id="notfounders">
						<img src="https://image.ibb.co/gzQ1C7/Screen_Shot_2018_04_01_at_1_48_50_AM.png" style=" display: block; margin: auto; height:70%; width: auto;">
						<h2 style="font-family: Palatino; text-align: center;">Tony Liu</h2>
						<p id="notfounders">Tony Liu is an "enigmatic" grade 10 student at St.George's School. He is honoured to be Vocal Music Club's coordinator of events. As a co-founder, he believes that Vocal Music Club is able to not only induce entertainment and relaxation to a stressful academic environment, but also inspire a positive impact in the greater community. In his free time, Tony enjoys table tennis, travelling, designing, basketball, and just putting on a pair of headphones. With his interest in art and design, Tony will also step forward as the club's marketing designer. He can often be found in the learning commons studying for the upcoming test with Edward Han.<br><br><br></p>
					</div>

					<div class="members" id="notfounders">
						<%= image_tag "georgehuang.jpg", :style => "display: block; margin: auto;" %>
						<h2 style="font-family: Palatino; text-align: center;">George Huang</h2>
						<p id="notfounders">Currently in tenth grade at St. George's, George Huang is an aspiring student looking to positively influence society in creative ways. For him, music was a perfect outlet to express his ideas and begin creating positive change at a small scale, within his community. Prior to discovering his passions for music, his passions were in mathematics and art. His hobbies outside of school include playing volleyball, listening to music, and drawing, as well as painting. As a co-founder of the Vocal Music Club, as well as the current treasurer, George hopes to use music to spread awareness of issues within society. At a smaller scale, he hopes to ignite the passion for music of other students and to help others realize that helping one's community can be as simple as listening to a performance.</p>
					</div>

					<div class="members" id="notfounders">
						<%= image_tag "markli.png", :style => "display: block; margin: auto;" %>
						<h2 style="font-family: Palatino; text-align: center;">Mark Li</h2>
						<p id="notfounders">Currently attending St. George's School as a grade 10 student, Mark is enthusiastic to be one of the leading singers of the St. George's vocal music club. Always trying to sing better, he seldom missed any performance and are eager to learn any singing techniques from professionals. Collaborating with all other members of the vocal music club, Mark has the passion to share the happiness of singing to other people, too.<br><br><br><br><br><br><br><br></p>
					</div>

					<div class="members" id="notfounders">
						<%= image_tag "edwardhan.png", :style => "display: block; margin: auto;" %>
						<h2 style="font-family: Palatino; text-align: center;">Edward Han</h2>
						<p id="notfounders">Edward is a grade 10 student attending St.George's School. He is currently both the coordinator and a performer of the Vocal Music Club, and he is excited to help with organizing concerts and events. Edward plays the alto saxophone and is a part of the concert band and jazz band at St. George's School. He believes that the Vocal Music Club should participate in more community events and make a positive impact on the community. Edward wishes to expand the Vocal Music Club by encouraging more musically talented students to participate and make a positive difference in his community. Aside from form his academics, Edward like to play badminton, swim, ski, and listen to music in his free time. Also, Edward can often be spotted studying with Tony Liu in his natural habitat, the library.</p>
					</div>

				</div>

				<div style="clear: both;">

					<div class="founders2">
						<%= image_tag "davidzuo.png", :style => "display: block; margin: auto;" %>
						<h2 style="font-family: Palatino; text-align: center;">David Zuo</h2>
						<p class="founders2">David is grade 10 at St. George's School. He co-founded Vocal Music club with Thomas and Vincent. He helps the club to obtain and edit audios for club performances, make a club video at the end of each year, and participates in almost every club performance. In his spare time, he likes to listen to music and waste his time on things he can't remember doing.</p>
					</div>

					<div class="founders2">
						<%= image_tag "haoshi.png", :style => "display: block; margin: auto;" %>
						<h2 style="font-family: Palatino; text-align: center;">Hao Shi</h2>
						<p class="founders2">Hao Shi is a grade ten student at St. George's School. Hao is thrilled to be the choreographer of the Vocal Music Club. His friends describe him as a very, perhaps too much, confident, passionate, humorous, and outgoing young man. Hao has been dancing since the creation of the Vocal Music Club and has had no previous experience. His other hobbies include chess, card games, video games, tennis, and table tennis. With the support of the rest of the club, Hao believes that his choreography will bring some icing on the cake for the club's performances. Hao is excited to meet everyone attending the performances of the Vocal Music Club. He hopes to ignite the interest of others who are interested in music.</p>
					</div>

				</div>

			</div>

		<div id='redbar'>
		</div>

		<div class="parallax parallax2" style="clear: both;">
			<p style="height: 600px; margin: 0;"></p>
		</div>

	</div>

	<div id="footer">
		<div id="ftmain">
			<p style="color: #ffffff">The Vocal Music Club’s purpose is to provide a haven for singers of all styles and languages. We strive for a fun, positive, and inclusive learning environment. <span><a href="https://www.stgeorges.bc.ca/page/explore/mission-vision-and-values"><strong>Read more...</strong></a></span></p>
		</div>
		<div id="ftfooter">
			<p style="color: #C9C0C0">© Copyright 2017 St. George's Vocal Music Club. All rights reserved.</p>
		</div>
	</div>
</body>
